Repository theekrystallee/Hacktoberfest2019, pull requests merged in 2019-10, with the labels that each got.

#48 Create 1042 - Sort Simples
  CPP/1042 - Sort Simples.cpp
Labels: C++, CPP

#36 Create index.html
  HTML/index.html
Labels: HTML

#12 Create post-fix_evaluation.py
  Python/post-fix_evaluation.py
Labels: Hacktoberfest, Python, good first issue, help wanted

#17 ADD: example of using high chart in html
  HTML/highChart.html
Labels: Contributing, HTML, Hacktoberfest, good first issue

#21 fractal function is added
  Python/fractal.py
Labels: Contributing, Hacktoberfest, Python, good first issue, help wanted

#18 Add some C++ code
  CPP/remove_duplicate_elements_compressed.cpp
Labels: C++, CPP, Contributing, Hacktoberfest

#27 Create vanillaFetch.js
  JavaScript/vanillaFetch.js
Labels: Contributing, Hacktoberfest, Javascript, good first issue

#11 A Kotlin Code to understand Recursion Added
  Kotlin/gcd_recursion.kt.rtf
Labels: Contributing, Hacktoberfest, Java, Kotlin, documentation, good first issue

#13 Add a program in Python
  Python/recursive_fibonacci.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#16 Generates deck of cards
  Go/deck_of_cards.go
Labels: C++, CPP, Contributing, Hacktoberfest, good first issue

#20 C++ code for a game
  CPP/Eeny_meeny_miny_moe.cpp
Labels: C++, CPP, Contributing, Hacktoberfest, good first issue

#30 adding new CPP
  CPP/sorting.cpp
Labels: C++, CPP, Contributing, Hacktoberfest, good first issue

#26 Add code in Python
  Python/AventuraNaFalcon.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#53 Create Name_reversed.c
  C/Name_reversed.c
Labels: C, Contributing, Hacktoberfest, good first issue, help wanted

#23 Add code that fllips clips
  Python/clip_flipper.py
Labels: Contributing, Hacktoberfest, good first issue

#24 New simple string reverse example
  JAVA/SimpleReverseString.java
Labels: Contributing, Hacktoberfest, Java, good first issue

#39 Create XOR_and_OR.py
  Python/XOR_and_OR.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#61 Create RotateMatrixBy180Degree.java
  JAVA/RotateMatrixBy180Degree.java
Labels: Contributing, Hacktoberfest, Java, good first issue

#25 Adding an Index page of my mini project
  HTML/index.html
Labels: Contributing, HTML, Hacktoberfest, good first issue

#33 added phone_email_finder
  Python/phone_email_finder.py
Labels: Contributing, Python

#32 Create Dino_Game_AI.py
  Python/Dino_Game_AI.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#38 Create Lucky_Numbers.py
  Python/Lucky_Numbers.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#35 html form incluso
  HTML/falem.html
  PHP/calcula-imc.php
Labels: Contributing, HTML, Hacktoberfest, good first issue

#40 Create Watermelon.py
  Python/Watermelon.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#51 Create 1079 - Medias Ponderadas.java
  1079 - Medias Ponderadas.java
Labels: Contributing, Hacktoberfest, Java, good first issue

#37 Create feettoinches.py
  Python/feettoinches.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#41 Feature/euclidian
  Python/euclidian.py
Labels: Contributing, Hacktoberfest, documentation, good first issue

#31 Create base_converter.py
  Python/base_conversor.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#46 Added Hangman.py
  Python/Hangman.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#28 New reverse string with java stream example
  JAVA/StreamReverseString.java
Labels: Contributing, Hacktoberfest, Java, good first issue

#64 Add find_max.py
  Python/find_max.py
Labels: Contributing, Hacktoberfest, Python, good first issue

#55 quick sort in C
  C/quick_sorter.c
Labels: C, Contributing, Hacktoberfest, good first issue, help wanted

#45 Added Blinking Hello World html
  HTML/Blinking_Hello_World.html
Labels: Contributing, HTML, Hacktoberfest, good first issue

#68 Create Pig_latin_python
  Pig_latin_python
Labels: Contributing, Hacktoberfest, Python, good first issue
